body {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

/* Layout */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

/* Fonts */

.primary--text {
  color: #01A4E0;
}

.primary--text-dark {
  color: #0080B6;
}

.primary--text-darker {
  color: #1F3A54;
}

/* Typography */

.title {
  font-weight: bold;
  font-size: 16px;
}

.subtitle {
  font-weight: normal;
  font-size: 14px;
}