body {
  font-family: 'Roboto', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* Colors */

$primary: #01A4E0;
$primary-dark: #0080B6;
$primary-darker: #1F3A54;

/* Text */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.primary--text {
  color: $primary;
}

.primary--text-dark {
  color: $primary-dark;
}

.primary--text-darker {
  color: $primary-darker;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

/* Layout */

.primary {
  background: $primary;  
}
.primary-dark {
   background: $primary-dark;
}
.primary-darker {
  background: $primary-darker;
}

.container {
  padding: 1.8em;
}

.flex {
  display: flex;
  flex: 1;
}

.column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

/* Typography */

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 300;
}

@media only screen and (max-width: 320px) {
  .title {
    font-size: 1.4em;
  }
  
  .subtitle {
    font-size: 1em;
  }
}

@media only screen and (min-width: 321px) {
  .title {
    font-size: 1.4em;
  }
  
  .subtitle {
    font-size: 1em;
  }
}

